<div>
  <title>Usuário</title>
  <h1>Dados do usuário:</h1>
  <p>Essa é a utilização do css</p>
  <ul>
    <li><strong>Nome:</strong> {{usuarios.nome}}</li>
    <li><strong>Sobrenome:</strong> {{usuarios.sobrenome}}</li>
    <li><strong>Idade:</strong> {{usuarios.idade}}</li>
    <li><strong>E-mail:</strong> {{usuarios.email}}</li>
    <li><strong>Telefone:</strong> {{usuarios.telefone}}</li>
  </ul>
</div>